<%= link_to '<i class="bi bi-arrow-left"></i>Return to Dashboard'.html_safe, admin_dashboard_path, class: "btn btn-danger", style: "color:white" %>
<br/><br/><br/>
<h1>New Store</h1>

<%= render 'form', store: @store %>


