<div class="container">
<h1>Cart</h1>
<h4>Your Cart is Empty!</h4>
<br/>
<p>Add Products to the cart by exploring our range of products by clicking on the following link.</p>
<br/><br/>
<big>Click on the link</big>
<br/>
<%= link_to "Mobiles Gallery", "home/mobile_gallery", class: "btn btn-primary" , style: "color:white" %>
</div>