Thank you for shopping with us!<br />
	
your order has been processed.<br />

A detailed email has been sent.<br />

<a class="btn btn-default" href="/home/index">Click here to continue the shopping</a>